<ion-header translucent>
  <ion-toolbar class="toolbar-global">
    <ion-title>Privacy Policy</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"> Close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <!-- <p>
    Expert Fitness ('expertfitness.com & Expert Fitness') has established a
    privacy policy ('Policy') to offer a more transparent view into how your
    information is collected, where it is used, and ultimately how it is
    protected. RF$ may update this policy at any time. RF$ will provide notice
    of materially significant changes to this privacy policy by posting notice
    on the RF$ site.
  </p>

  <hr />
  <h3>Protecting Your Privacy</h3>
  <p>
    RF$ makes all attempts to protect your private information except as
    provided in this Policy. RF$ will not share your personal information with
    any third parties without your consent except as provided in this Policy.
  </p>
  <p>
    Posts on RF$'s website may provide links to third party websites, where each
    has it's own privacy practices. RF$ is not responsible for, nor does RF$
    have any control over the privacy policies of those third parties. Thus RF$
    encourages all users to read the privacy policies of each and every website
    visited.
  </p>

  <hr />
  <h3>Data Collection</h3>
  <p>
    RF$ may collect your name, age, date of birth, gender, email address,
    physical address, profile information, photos, and phone number.
  </p>
  <p>
    RF$ sometimes collects your email address, for purposes such as sending
    email newsletters, notifications about your account, notifications from
    other RF$ users, and authenticating your account. By submitting your email
    RF$, you consent to emails from RF$.
  </p>
  <p>
    RF$ sometimes collects your cell phone number for the purpose of sending you
    text messages about RF$. By submitting your cell phone number to RF$, you
    consent to text messages from RF$.
  </p>
  <p>
    RF$ may collect personal information if you provide such information in
    feedback or comments or if you contact RF$ directly. Only information that
    is directly sent to RF$ may be confidential. Any information posted on the
    site is not confidential. Please do not post anything on RF$ that you would
    like to keep private, as it is a public forum. For instance, please do not
    post your home address on your profile unless you want your home address to
    be public.
  </p>
  <p>
    RF$'s web logs collect standard web log entries for each page served,
    including your IP address, page URL, and timestamp. Web logs help RF$
    diagnose problems with our server, to administer the RF$ site, and to
    otherwise provide RF$'s products and service to you. In addition, RF$ may
    collect other information from your interaction with our Website, services,
    content, and advertising, including computer and connection information,
    statistics on page views, traffic to and from the Website, ad data, IP
    address, demographic and navigational data, and standard web log
    information. This information may be obtained for RF$ from a third party
    provider. RF$ may use this information for marketing, commercial, or any
    other purpose as RF$ sees fit.
  </p>
  <p>
    RF$ may collect your geographical location if your device allows it. This
    information may be posted on the RF$ if you have allowed locations services
    to be enabled.
  </p>
  <hr />
  <h3>Data RF$ Stores</h3>
  <p>
    All information posted to this site, including account and purchase
    information, is stored in RF$'s database, even after 'deletion', and may be
    archived elsewhere.
  </p>
  <p>
    RF$'s web logs and other records are stored indefinitely. This may include
    any information you supply to RF$ and your browsing history. However, RF$
    cannot guarantee access to these records by third parties for more than
    seven business days after the original information was submitted, except for
    purchase information that is available until the items have been delivered.
  </p>
  <p>
    Although RF$ makes good faith efforts to store personal information in a
    secure operating environment that is not available to the public, RF$ cannot
    guarantee complete security. While we also use security to secure the site,
    any information posted on your public RF$ profile and any discussion boards
    are made available to the public.
  </p>
  <p>
    RF$ may store information in an off-site location, which may or may not be
    located in the United States and may not be bound by the laws of the United
    States.
  </p>
  <hr />
  <h3>Search Engines & 3rd Parties</h3>
  <p>
    Search engines and third party sites not affiliated with RF$ - including
    Google.com, Bing.com, and Yahoo.com - archive or otherwise make available
    RF$'s web pages. RF$ has no control over third party archiving and search
    engine sites and cannot guarantee the accuracy of any information stored by
    search engine sites.
  </p>
  <hr />
  <h3>Release of Information</h3>
  <p>
    RF$ may disclose information about its users for publicity purposes pursuant
    to RF$'s Terms of Use. RF$ may disclose information about its users if
    required to do so by law or in the good faith belief that such disclosure is
    reasonably necessary to respond to subpoenas, court orders, or other legal
    process.
  </p>
  <p>
    RF$ may disclose information about its users to law enforcement officers or
    others, in the good faith belief that such disclosure is reasonably
    necessary to: enforce our Terms of Use; respond to claims that any posting
    or other content violates the rights of third- parties; or protect the
    rights, property, or personal safety of RF$, its users, or the general
    public.
  </p>
  <p>
    RF$ may disclose your information to third parties for use by RF$. This may
    include disclosure to email marketing providers to provide targeted
    marketing for our users or other information to third party marketers. RF$
    may disclose your information to other business entities, should RF$ ever
    plan to merge with or be acquired by that business entity.
  </p>
  <hr />
  <h3>International Users</h3>
  <p>
    RF$ welcomes international users to browse the site. International Website
    Users consent to all the terms of service and this privacy agreement.
    International users waive any and all remedies that they may have based on
    the laws of their country.
  </p>
  <hr />
  <h3>Copyright Policy</h3>
  <p>
    Expert Fitness, with a website of RF$, respects the intellectual property
    rights of its Website Users and third parties. Rank Fantasy Sports complies
    with the requirements of the Digital Millennium Copyright Act (17 U.S.C. -
    512), also known as the DMCA. Please be aware that the DMCA may make the
    copyright owner liable for damages if he/she materially misrepresents a fact
    that a user's content is infringing his/her copyright (for example, if the
    use really falls under the Fair Use Doctrine).
  </p>
  <hr />

  <p>
    <ion-text color="primary">
      If you believe that an image or information on RF$ is violating your
      copyright, please send corresponance to info@expertfitness.com. You will
      need to include all of the following information in your email:
    </ion-text>
  </p>
  <p>
    <ion-text color="primary">
      Please send this information in a plain text email or as an attached pdf
      document.
    </ion-text>
  </p>
  <ul>
    <li>
      Identify what material you claim is infringing your copyright, with enough
      detail so that Expert Fitness may locate it on the website, including, if
      possible, the URL of the page the material is on;
    </li>
    <li>
      A statement by you that you have a good faith belief that the disputed use
      is not authorized by the copyright owner, its agent, or the law, and how
      the use infringes on that copyright;
    </li>
    <li>
      A statement by you declaring under penalty of perjury that (1) the above
      information in your email is accurate, and (2) that you are the owner of
      the copyright interest involved or that you are authorized to act on
      behalf of the copyright owner and the copyright owner's information;
    </li>
    <li>
      Your complete mailing address, including state and country, telephone #,
      and email address; and
    </li>
    <li>Your physical or electronic signature.</li>
  </ul>

  <hr />

  <p>
    <ion-text color="primary">
      If you believe that an image or information is violating any other
      intellectual property rights, please send corresponance to
      info@expertfitness.com. You will need to include all of the following
      information in your email:
    </ion-text>
  </p>
  <p>
    <ion-text color="primary">
      Please send this information in a plain text email or as an attached pdf
      document.
    </ion-text>
  </p>
  <ul>
    <li>
      Identify which material you claim is infringing your intellectual property
      rights, with enough detail so Expert Fitness may locate it on the website,
      including, if possible, the URL of the page the material is on;
    </li>
    <li>
      A statement by you regarding how the use infringes on your intellectual
      property rights;
    </li>
    <li>
      A statement by you declaring under penalty of perjury that (1) the above
      information in your email is accurate, and (2) that you are the owner of
      the intellectual property interest involved or that you are authorized to
      act on behalf of the owner and the owner's information;
    </li>
    <li>
      Your complete mailing address, including state and country, telephone #,
      and email address; and
    </li>
    <li>Your physical or electronic signature.</li>
  </ul>

  <hr />

  <p>
    Should Expert Fitness determine that the material is a violation of your
    copyright or other intellectual property rights, Rank Fantasy Sports will
    take all necessary actions to remove the infringing image and or
    information, subject to the procedures outlined in the Digital Millennium
    Copyright Act (DMCA).
  </p> -->


  <p>
    Expert Fitness, Inc. built the Expert Fitness app as a Commercial app. This
    SERVICE is provided by Expert Fitness and is intended for use as is.
  </p>
  <p>
    This page is used to inform visitors regarding our policies with the
    collection, use, and disclosure of Personal Information if anyone decided to
    use our Service.
  </p>
  <p>
    If you choose to use our Service, then you agree to the collection and use
    of information in relation to this policy. The Personal Information that we
    collect is used for providing and improving the Service. We will not use or
    share your information with anyone except as described in this Privacy
    Policy.
  </p>
  <p>
    The terms used in this Privacy Policy have the same meanings as in our Terms
    and Conditions, which is accessible at Expert Fitness unless otherwise
    defined in this Privacy Policy.
  </p>
  <h3>Information Collection and Use</h3>
  <p>
    For a better experience, while using our Service, we may require you to
    provide us with certain personally identifiable information, including but
    not limited to name, phone number, address, email. The information that we
    request will be retained by us and used as described in this privacy policy.
  </p>
  <div>
    <p>
      The app does use third party services that may collect information used to
      identify you.
    </p>
    <p>
      Link to privacy policy of third party service providers used by the app
    </p>
    <ul>
      <li>
        <a
          href="https://www.google.com/policies/privacy/"
          target="_blank"
          rel="noopener noreferrer"
          >Google Play Services</a
        >
      </li>
      <!---->
      <li>
        <a
          href="https://firebase.google.com/policies/analytics"
          target="_blank"
          rel="noopener noreferrer"
          >Google Analytics for Firebase</a
        >
      </li>
      <li>
        <a
          href="https://firebase.google.com/support/privacy/"
          target="_blank"
          rel="noopener noreferrer"
          >Firebase Crashlytics</a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/about/privacy/update/printable"
          target="_blank"
          rel="noopener noreferrer"
          >Facebook</a
        >
      </li>
      <!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    </ul>
  </div>
  <h3>Log Data</h3>
  <p>
    We want to inform you that whenever you use our Service, in a case of an
    error in the app we collect data and information (through third party
    products) on your phone called Log Data. This Log Data may include
    information such as your device Internet Protocol (“IP”) address, device
    name, operating system version, the configuration of the app when utilizing
    our Service, the time and date of your use of the Service, and other
    statistics.
  </p>
  <h3>Cookies</h3>
  <p>
    Cookies are files with a small amount of data that are commonly used as
    anonymous unique identifiers. These are sent to your browser from the
    websites that you visit and are stored on your device's internal memory.
  </p>
  <p>
    This Service does not use these “cookies” explicitly. However, the app may
    use third party code and libraries that use “cookies” to collect information
    and improve their services. You have the option to either accept or refuse
    these cookies and know when a cookie is being sent to your device. If you
    choose to refuse our cookies, you may not be able to use some portions of
    this Service.
  </p>
  <h3>Service Providers</h3>
  <p>
    We may employ third-party companies and individuals due to the following
    reasons:
  </p>
  <ul>
    <li>To facilitate our Service;</li>
    <li>To provide the Service on our behalf;</li>
    <li>To perform Service-related services; or</li>
    <li>To assist us in analyzing how our Service is used.</li>
  </ul>
  <p>
    We want to inform users of this Service that these third parties have access
    to your Personal Information. The reason is to perform the tasks assigned to
    them on our behalf. However, they are obligated not to disclose or use the
    information for any other purpose.
  </p>
  <h3>Security</h3>
  <p>
    We value your trust in providing us your Personal Information, thus we are
    striving to use commercially acceptable means of protecting it. But remember
    that no method of transmission over the internet, or method of electronic
    storage is 100% secure and reliable, and we cannot guarantee its absolute
    security.
  </p>
  <h3>Links to Other Sites</h3>
  <p>
    This Service may contain links to other sites. If you click on a third-party
    link, you will be directed to that site. Note that these external sites are
    not operated by us. Therefore, we strongly advise you to review the Privacy
    Policy of these websites. We have no control over and assume no
    responsibility for the content, privacy policies, or practices of any
    third-party sites or services.
  </p>
  <h3>Children’s Privacy</h3>
  <p>
    These Services do not address anyone under the age of 13. We do not
    knowingly collect personally identifiable information from children under
    13. In the case we discover that a child under 13 has provided us with
    personal information, we immediately delete this from our servers. If you
    are a parent or guardian and you are aware that your child has provided us
    with personal information, please contact us so that we will be able to do
    necessary actions.
  </p>
  <h3>Changes to This Privacy Policy</h3>
  <p>
    We may update our Privacy Policy from time to time. Thus, you are advised to
    review this page periodically for any changes. We will notify you of any
    changes by posting the new Privacy Policy on this page.
  </p>
  <p>This policy is effective as of 2020-09-22</p>

  <h3>CONTACT US</h3>
  <p>
    For more information about our privacy practices, if you have questions, or
    if you would like to make a complaint, please contact us by e-mail at
    support@expert-fitness.app or by mail using the details provided below: 6801
    19th Street Suite 777, Midland, TX, 75777, United States
  </p>
</ion-content>
