rules_version = '2';
  service cloud.firestore {
    match /databases/{database}/documents {
      function hasPublicSubs() {
        return request.auth.token.stripeRole == "PUBLIC";
      }
      function hasCustomerSubs() {
        return request.auth.token.stripeRole == "MEMBER";
      }
      function hasEmployeeSubs() {
        return request.auth.token.stripeRole == "EMPLOYEE";
      }
      function hasAdminSubs() {
        return request.auth.token.stripeRole == "ADMIN";
      }

    match /public-content/{doc} {
      allow read: if hasPublicSubs() || hasCustomerSubs() || hasEmployeeSubs() || hasAdminSubs();
      allow write: if hasEmployeeSubs() || hasAdminSubs();
    }
    match /member-content/{doc} {
      allow read: if hasCustomerSubs()|| hasEmployeeSubs() || hasAdminSubs();
      allow write: if hasEmployeeSubs() || hasAdminSubs();
    }
    match /employee-content/{doc} {
      allow read: if hasEmployeeSubs() || hasAdminSubs();
      allow write: if hasAdminSubs();
    }
    match /admin-content/{doc} {
      allow read: if hasAdminSubs();
      allow write: if hasAdminSubs();
    }

    match /users/{uid} {
      allow read: if request.auth.uid == uid;
    }
    match /checkout_sessions/{id} {
      allow read, write: if request.auth.uid == uid;
    }
    match /subscriptions/{id} {
      allow read: if request.auth.uid == uid;
    }
    match /products/{id} {
      allow read: if true;
    }
    match /prices/{id} {
      allow read: if true;
    }
  }
}
