ion-slide {
  height: 85vh;
  width: 100vw;
  overflow: hidden;
  margin-top: 5vh;
}


video {
  position: absolute;

}

.cta-card {
  --background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  box-shadow: none;
}

.slide-one {
  h1 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.slide2 {
  display: inline-block;
  font-size: 1.6rem;
}
.last-slide {
  display: inline-block;
  font-size: 1.6rem;
}



@keyframes fade-in-right {
  from {
    transform: translate(-60px, 0);
    opacity: 40%;
  }
  50% {
    transform: translate(20px, 0);
    opacity: 100%;
  }
  to {
    transform: translate(-60px, 0);
    opacity: 40%;
  }
}
