<ion-grid class="page-two-grid">
  <ion-row class="ion-no-margin-horizontal ion-margin-vertical ion-text-center">
    <ion-toolbar class="toolbar-global">
      <ion-title [@slideInRight]="slideInRight">
        <ion-text color="tertiary">
          Benefits of Having a Personal Trainer
        </ion-text>
      </ion-title>
    </ion-toolbar>
  </ion-row>
  <ion-row>
    <ion-slides
      #mySlider
      pager="true"
      (ionSlidesDidLoad)="slidesDidLoad(mySlider)"
      [options]="slideOpts"
    >
      <ion-slide *ngFor="let benefit of benefits">
        <ion-col class="ion-align-self-start">
          <ion-card color="dark" class="ion-text-center" style="height: 34em">
            <img [src]="benefit.image" />
            <ion-card-header color="primary">
              <ion-card-title>
                <ion-text color="tertiary">{{ benefit.title }}</ion-text>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-text>
                <p>{{ benefit.content }}</p>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </ion-row>
  <ion-row
    class="ion-no-margin-horizontal ion-margin-vertical ion-text-center"
    color="primary"
  >
    <ion-toolbar class="toolbar-global">
      <ion-title [@slideInRight]="slideInRight">
        <ion-text color="warning">
        <h2>

          You've already made it this far....
        </h2>
        </ion-text>
      </ion-title>
          <ion-title>
            <ion-text color="light">
<h3>

  Register now so you can set up an
  15 minute appointment to come by and we can make introductions and let
  you make sure this is the right place for you.
</h3>
            </ion-text>
          </ion-title>
      <ion-button
        size="large"
        style="padding: 0.4em"
        color="light"
        (click)="showModalGetStarted()"
        [@slideInLeft]="slideInLeft"
        >View Plans
      </ion-button>
    </ion-toolbar>
  </ion-row>
</ion-grid>
