

.trio-card {
  height: 100%;
}
  .trio {
    max-height: 21.3125em;
    width: 100%;
  }

  .card-button{

    bottom: 0;
    position: absolute;
  }

  ion-card-content{
    position: relative;
  }
