<ion-header translucent>
  <!-- small screen/ hamburger-->
  <ion-toolbar color="dark" class="small-screen">
    <ion-buttons slot="start">
      <ion-menu-button color="warning"> </ion-menu-button>
    </ion-buttons>
    <ion-img
      src="../../../assets/logos/logo.png"
      slot="start"
      class="small-logo"
    ></ion-img>

    <ng-container *ngIf="user | async; else startButton">
      <ion-item
        slot="end"
        type="button"
        color="dark"
        (click)="presentPopover($event)"
        detail="false"
        lines="none"
      >
        <ion-icon slot="start" name="arrow-dropdown"></ion-icon>
        <ion-avatar>
          <ion-img
            [src]="user.photoURL || '../../../assets/img/dummy-user.png'"
          ></ion-img>
        </ion-avatar>
      </ion-item>
    </ng-container>

    <ng-template #startButton>
      <ion-buttons slot="end">
        <ion-button
          style="padding-right: 1.25em; font-size: large"
          appBlink
          (click)="showModalGetStarted()"
        >
          <ion-text> Sign In </ion-text>
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>

  <!-- large screen/ no hamburger -->
  <ion-toolbar color="dark" class="large-screen">
    <ion-buttons slot="start">
      <!-- <ng-component *ngIf="!hideBackButton"> -->
      <ion-back-button
        *ngIf="!hideBackButton"
        defaultHref="/home"
        color="warning-shade"
      ></ion-back-button>
      <!-- </ng-component> -->
      <ion-img
        src="../../../assets/logos/logo.png"
        slot="start"
        class="small-logo"
      ></ion-img>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/home/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label> Home </ion-label>
      </ion-item>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/home/products"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label> Products </ion-label>
      </ion-item>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/home/faqs"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label> FAQs </ion-label>
      </ion-item>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/home/testimonials"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label> Testimonials </ion-label>
      </ion-item>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/home/contact"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label> Contact </ion-label>
      </ion-item>
    </ion-buttons>

    <ng-container *ngIf="user | async; else getStarted">
      <ion-item
        slot="end"
        type="button"
        color="dark"
        (click)="presentPopover($event)"
        detail="false"
        lines="none"
      >
        <ion-icon slot="start" name="arrow-dropdown"></ion-icon>
        <ion-avatar>
          <ion-img
            [src]="user.photoURL || '../../../assets/images/dummy-user.png'"
          ></ion-img>
        </ion-avatar>
      </ion-item>
    </ng-container>

    <ng-template #getStarted>
      <div slot="end" style="margin-right: 2em; text-align: center">
        <ion-text color="warning">Returning Users:</ion-text>
        <br />
        <ion-button (click)="showModalGetStarted()" color="primary">
          <ion-text>Sign In</ion-text>
        </ion-button>
      </div>
    </ng-template>
  </ion-toolbar>
</ion-header>
