ion-header{
  z-index: 22;
}

.menu-font :hover {
  border-bottom: 0.3125em solid var(--ion-color-light-tint);
  color: var(--ion-color-light-tint);
}
.menu-font {
  ion-label{
    font: 800 1.4em/2  "Montserrat", sans-serif;
    text-transform: uppercase;
    color: var(--ion-color-medium-tint);

  }
  padding: 0 1.3125em;
  display: inline-block;
  border-bottom: 0.3125em solid transparent;
  margin-left: 2.375em;
}

.active-link {
  ion-label {
    color: var(--ion-color-light-tint);
    border-bottom: 0.3125em solid var(--ion-color-warning-shade);

  }
}



.silhouette {
  max-height: 2.75em;
}

@media (max-width: 41.3125em) {
  .large-screen {
    display: none !important;
  }
}
@media (min-width: 416px) {
  .small-screen {
    display: none !important;
  }
}
