.StripeElement {
  padding: 1.25em 1.25em;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  text-align: center;
  color: var(--ion-color-danger);
  margin: 0.625em;
}
