<h3>Upload File</h3>

<form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h6><span>UPLOAD</span></h6>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input
            id="customFile"
            name="myfile"
            (change)="onFileSelect($event)"
            #UploadFileInput
          >
            <ion-label>{{ fileInputLabel || "Choose File" }}</ion-label>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-button class="ion-text-capitalize" type="submit"
          >Upload</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
