<ion-content cdkDropListGroup>
  <ion-card class="example-container">
    <ion-card-header>
      <ion-card-title>
        <ion-text>
          <h2>Available items</h2>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div
        cdkDropList
        [cdkDropListData]="items"
        class="example-list"
        cdkDropListSortingDisabled
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of items" cdkDrag>
          {{ item }}
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="example-container">
    <ion-card-header>
      <ion-card-title>
        <ion-text>
          <h2>Shopping basket</h2>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div
        cdkDropList
        [cdkDropListData]="basket"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of basket" cdkDrag>
          {{ item }}
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
