<ion-tabs>
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="speedometer-sharp"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fitness">
      <ion-icon name="fitness-sharp"></ion-icon>
      <ion-label>Fitness</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nutrition">
      <ion-icon name="nutrition-sharp"></ion-icon>
      <ion-label>Nutrition</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="videos">
      <ion-icon name="logo-youtube"></ion-icon>
      <ion-label>Videos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
