.under-menu {
  position: absolute;
  text-align: center;
  bottom: 5em;
}
.first-row {
  position: relative;
  padding-left: 3.5em;
}

.under-button {
  padding-left: 3.5em;
  position: relative;
}
.bottom-toolbar {
  position: absolute;
  bottom: 0px;
}

.active-item {
  border-left: 0.625em solid var(--ion-color-tertiary);
  //   background: rgba(var(--ion-color-warning-rgb) 0.4);
}

ion-item {
  border-left: 0.625em solid var(--ion-color-light);
}


.side-menu-font {
  // text-decoration: none;
  // font: normal 800 1em sans-serif !important;
  font-weight: 700;
  text-transform: capitalize;
  font-variant: small-caps;
}
