
<ion-header translucent>
  <!-- small screen/ hamburger-->
  <ion-toolbar color="dark" class="small-screen" #toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="tertiary"> </ion-menu-button>
    </ion-buttons>
    <ion-img
      src="../../../assets/logos/logo.png"
      slot="start"
      class="small-logo"
      routerLink="/home"
    ></ion-img>

    <ng-container *ngIf="user | async; else startButton">
      <ion-item
        slot="end"
        type="button"
        color="dark"
        (click)="presentPopover($event)"
        detail="false"
        lines="none"
      >
        <ion-icon slot="start" name="arrow-dropdown"></ion-icon>
        <ion-avatar>
          <ion-img
            [src]="user.photoURL || '../../../assets/img/dummy-user.png'"
          ></ion-img>
        </ion-avatar>
      </ion-item>
    </ng-container>

    <ng-template #startButton>
      <ion-buttons slot="end">
        <div style="text-align: center;">
          <ion-text color="warning" style="padding-right: 5px;">
            <sup>
              Returning Users:
            </sup>
          </ion-text>
          <br>
          <ion-button
          style="font-size: x-large"
          appBlink
          (click)="showModalGetStarted()"
          color="danger"
          >
          <ion-text>Login</ion-text>
        </ion-button>
      </div>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>

  <!-- large screen/ no hamburger -->
  <ion-toolbar color="dark" class="large-screen" #toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        *ngIf="showBackButton"
        defaultHref="/home"
        color="tertiary"
      ></ion-back-button>
      <ion-img
        src="../../../assets/logos/logo.png"
        slot="start"
        class="small-logo"
        routerLink="/home"
      ></ion-img>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/home"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label class="menu-label">Home</ion-label>
      </ion-item>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/products"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label class="menu-label">Products</ion-label>
      </ion-item>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/faqs"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label class="menu-label">FAQs</ion-label>
      </ion-item>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/testimonials"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label class="menu-label">Testimonials</ion-label>
      </ion-item>

      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/about-us"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label class="menu-label">About</ion-label>
      </ion-item>
      <ion-item
        class="menu-font"
        button
        color="dark"
        routerLink="/contact"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <ion-label class="menu-label">Contact</ion-label>
      </ion-item>
    </ion-buttons>

    <ng-container *ngIf="user | async; else getStarted">
      <ion-item
        slot="end"
        type="button"
        color="dark"
        (click)="presentPopover($event)"
        detail="false"
        lines="none"
      >
        <ion-icon slot="start" name="arrow-dropdown"></ion-icon>
        <ion-avatar>
          <ion-img
            [src]="user.photoURL || '../../../assets/images/dummy-user.png'"
          ></ion-img>
        </ion-avatar>
      </ion-item>
    </ng-container>

    <ng-template #getStarted>
      <ion-buttons slot="end">

        <div style="text-align: center;">
          <ion-text color="warning" style="padding-right: 5px;">
            <sup>
              Returning Users:
            </sup>
          </ion-text>
          <br>
          <ion-button (click)="showModalGetStarted()" color="danger">

            <ion-text style="font-size: x-large" appBlink>Login</ion-text>
          </ion-button>
        </div>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen scrollEvents="true" [appFadeHeader]="toolbar">

<ion-grid class="ion-no-padding">
  <ion-row
    class="scene-one ion-justify-content-around"
    style="padding-top: 14vh"
  >
    <ion-col size="12" size-md="6" class="ion-align-self-start ion-text-center">
      <ion-row class="ion-text-center">
        <ion-col size="6" offset="3">
          <img
            [@bounceOutUp]="bounceOutUp"
            src="../../../assets/logos/logo.png"
            style="max-width: 450px"
            class="raised-z"
          />
          <hr />
          <!-- </ion-row>
          <ion-row class="ion-justify-content-center"> -->
          <ion-card [@pulse]="pulse" class="raised-z logo-card ion-padding">
            <ion-card-title>
              <ion-text color="warning">
                <h3>omni-fit: A holistic fitness paradigm</h3>
              </ion-text>
            </ion-card-title>
          </ion-card>
          <!-- </ion-row>
          <ion-row class="ion-justify-content-center"> -->
          <ion-button
            [@flash]="flash"
            class="cta raised-z"
            color="light"
            size="large"
            routerLink="/checkout"
            fill="outline"
            >Learn More</ion-button
          >
          <ion-button
            [@flash]="flash"
            class="cta raised-z"
            size="large"
            color="primary"
            (click)="showModalGetStarted()"
            >View Pricing</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col
      size="12"
      size-md="6"
      class="ion-align-self-stretch ion-text-center"
    >
      <div>
        <img style="z-index: 22" src="../../../assets/svg/btn-play.svg" />
      </div>
    </ion-col>
  </ion-row>
 
 
  <ion-row>
    <app-home-page-two></app-home-page-two>
  </ion-row>
  <!-- <ion-fab>
    <ion-fab-button (click)="topFunction()" id="myBtn" title="Go to top">Top</ion-fab-button>

  </ion-fab> -->

  <!-- Footer` -->
  <ion-row class="footer ion-justify-content-around">
    <ion-col size="12" size-sm="4">
      <ion-row>
        <ion-col>
          <ion-list lines="none" class="bottom-menu">
            <ion-list-header color="dark">
              <h3>Menu</h3>
            </ion-list-header>
            <ion-item
              color="dark"
              routerLink="/home"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-label>Home</ion-label>
            </ion-item>
            <!-- SignedIn Menu Items -->
            <ion-item
              color="dark"
              *ngIf="user"
              routerLink="/customers/dashboard"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-label>Dashboard</ion-label>
            </ion-item>
            <ion-item
              color="dark"
              *ngIf="user "
              routerLink="/customers/workouts"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-label>Workouts</ion-label>
            </ion-item>
            <ion-item
              color="dark"
              *ngIf="user"
              routerLink="/customers/nutrition"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-label>Nutrition</ion-label>
            </ion-item>
            <ion-item
              color="dark"
              *ngIf="user"
              routerLink="/customers/videos"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-label>Videos</ion-label>
            </ion-item>
            <ion-item
              color="dark"
              *ngIf="user"
              routerLink="/customers/messages"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-label>Messages</ion-label>
            </ion-item>
            <ion-item
              color="dark"
              *ngIf="user"
              routerLink="/customers/settings"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-label>Settings</ion-label>
            </ion-item>
            <!-- Menu Options for nonusers -->
            <ion-item
              color="dark"
              *ngIf="!user"
              routerLink="/products"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-label>Products</ion-label>
            </ion-item>
            <ion-item
              color="dark"
              *ngIf="!user"
              routerLink="/faqs"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-label>FAQs</ion-label>
            </ion-item>
            <ion-item color="dark" *ngIf="!user" routerLink="/testimonials">
              <ion-label>Testimonials</ion-label>
            </ion-item>
            <ion-item
              color="dark"
              routerLink="/about"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-label>About</ion-label>
            </ion-item>
            <ion-item
              color="dark"
              routerLink="/contact"
              routerLinkActive="active-bottom-menu"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-label>Contact</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="ion-padding">
          <img src="../../../assets/logos/logo.png" class="small-logo" />
          <br />
          <ion-text color="light">
            <small> &#9426;{{ yearDate }} www.expertfitness.com </small>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col
      size-sm="4"
      size="12"
      push-sm="4"
      class="ion-align-self-center"
      routerLink="/contact"
    >
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-card color="primary" class="ion-text-center">
            <ion-card-header color="primary">
              <ion-card-title>
                <img
                  src="../../../assets/icons/icon-144x144.png"
                  style="max-height: 38px"
                />
                Expert Fitness Gym
              </ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <ion-text style="font-weight: bold">
                <p>3000 N. Garfield Street Suite 159</p>
                <p>Midland TX 79705</p>
              </ion-text>
              <ion-chip color="light" href="tel://432-684-0844">
                <ion-icon color="warning" name="call-sharp"></ion-icon>
                <ion-label> (432) 684-0844 </ion-label>
              </ion-chip>

              <ion-chip color="light" routerLink="/contact">
                <ion-icon color="warning" name="mail-sharp"></ion-icon>
                <ion-label> Contact Us </ion-label>
              </ion-chip>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12" pull-sm="4" size-sm="4">
      <ion-row>
        <ion-col> 
          
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col class="ion-align-self-end ion-text-center">
          <ion-buttons>
          <ion-button color="tertiary" (click)="showModalPrivacy()">
            Privacy
          </ion-button>
          <ion-button color="tertiary" (click)="showModalTerms()">
            Terms
          </ion-button>
          <ion-button color="tertiary" (click)="showModalAbout()">
            About App
          </ion-button>
          </ion-buttons>
          <hr />

          <share-buttons
            theme="material-dark"
            show="4"
            size="-3"
          ></share-buttons>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>