<ion-header translucent>
  <ion-toolbar class="toolbar-global">
    <ion-title>Contact Us</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()"> Close </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div #mapCanvas class="map-canvas"></div>

      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col>
        <app-about-us></app-about-us>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
<app-footer></app-footer>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>
