<app-header></app-header>
<ion-content fullscreen color="dark">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="8" size-xl="6" class="ion-align-self-auto" style="margin-top: 5em">
        <ion-card color="medium-shade">
          <ion-card-header class="ion-text-center" color="primary">
            <ion-card-title>
              <ion-text style="font-weight: 700">
                <h2>Expert Fitness FAQs</h2>
              </ion-text>
            </ion-card-title>
                <ion-card-subtitle class="card-subtitle-global">
              <ion-text
                color="warning"
                style="font-weight: 700"
                class="ion-text-capitalize"
              >
                Responses to Frequently asked questions
              </ion-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <details
              *ngFor="let faq of faqs"
              (toggle)="onToggle()"
            >
              <summary style="margin: 1em;">
                <ion-text style="font:800 ">
                  <p>{{faq.title}}</p>
                </ion-text>
              </summary>

              <div class="details-text">
              <ion-text>
                <p>{{ faq.info }}</p>
              </ion-text>
              </div>
            </details>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
