<!-- student-create.html -->
<ion-header>
  <ion-toolbar class="toolbar-global" color="tertiary">
    <ion-title class="toolbar-title">Create User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="data.displayName" placeholder="Enter Name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="data.email" placeholder="Enter Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="submitForm()">Add
    </ion-button>
  </ion-item>

</ion-content>
