ion-content{
	--background: var(--ion-color-light-shade);
}
ion-card{
	--background: var(--ion-color-medium-shade);
  border-radius: 12px;
  ion-card-header{
    border: 2px solid transparent;
    border-radius: 12px;
    
  }
}



ion-card-header {
  --background: var(--ion-color-primary-shade);
  ion-card-title {
    ion-text{
      color: var(--ion-color-warning-tint);
      font: 800 16px/1 "Roboto", sans-serif;
      text-transform: capitalize;
      font-variant: small-caps;
    }
  }
}

.title-card {
  ion-card-title{
  ion-text{
    color: var(--ion-color-tertiary-tint);
    font: 800 16px/1 "Roboto", sans-serif;
    text-transform: uppercase;
  }
}
ion-card-subtitle {
  ion-text{
    font: 700 16px/1 "Open Sans", sans-serif;
    color: var(--ion-color-light-shade);
    text-transform: capitalize;
  }
}
}
