/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// NGX-Share
@import "~ngx-sharebuttons/themes/material/material-dark-theme";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Open+Sans:wght@700;800&family=Philosopher:wght@700;800&family=Roboto:wght@700;800&display=swap");

// Classes
a:hover {
  cursor: pointer;
}

ion-list-header {
  --background: var(--ion-color-medium-tint);
  color: var(--ion-color-secondary-shade);
  text-transform: uppercase;
  font: 800 16px/1 "Montserrat", sans-serif;
}

ion-card-header {
  --background: var(--ion-color-primary-tint);
}

ion-card-title {
  ion-text{
    color: var(--ion-color-light-tint);
    font: 800 "Montserrat", sans-serif;
  }
}

ion-card-subtitle {
  ion-text{
    color: var(--ion-color-warning);
    font: 800 "Philosopher", sans-serif;
  }
}

  
ion-toolbar {
  --min-height: 5em;
  --background: var(--ion-color-primary-tint);
  ion-title{
    font: 800 "Montserrat", sans-serif;
    text-transform: uppercase;
    color: var(--ion-color-medium-tint);
    text-transform: uppercase;
    margin-left: 4em;
  }
  ion-button {
    color: var(--ion-color-warning-tint);
  }
}

.small-logo {
  width: 7.5em;
  margin: 15px 10px 10px 25px;
}

// Toasts
.successT {
  --border-color: var(--ion-color-success-shade);
  --border-radius: 0.625em;
  --border-style: solid;
  --border-width: 0.25em;
  --box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 
    0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 8px 8px rgba(0, 0, 0, 0.05), 
    0px 10px 15px rgba(0, 0, 0, 0.03),
    0px 30px 30px rgba(0, 0, 0, 0.15),
    0px 70px 60px rgba(0, 0, 0, 0.15);
  --color: var(--ion-color-light);
}

.warningT {
  --background: var(--ion-color-warning-tint);
  --border-color: var(--ion-color-warning-shade);
  --border-radius: 0.625em;
  --border-style: solid;
  --border-width: 0.25em;
  --box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 
    0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 8px 8px rgba(0, 0, 0, 0.05), 
    0px 10px 15px rgba(0, 0, 0, 0.03),
    0px 30px 30px rgba(0, 0, 0, 0.15),
    0px 70px 60px rgba(0, 0, 0, 0.15);
  --color: var(--ion-color-light);
}

.dangerT {
  --background: var(--ion-color-danger-tint);
  --border-color: var(--ion-color-danger-shade);
  --border-radius: 0.625em;
  --border-style: solid;
  --border-width: 0.25em;
  --box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 
    0px 6px 6px rgba(0, 0, 0, 0.1),
    0px 8px 8px rgba(0, 0, 0, 0.05), 
    0px 10px 15px rgba(0, 0, 0, 0.03),
    0px 30px 30px rgba(0, 0, 0, 0.15),
    0px 70px 60px rgba(0, 0, 0, 0.15);
  --color: var(--ion-color-light);
}

// Alerts
.successA {
  --background: var(--ion-color-success-tint);
  --color: var(--ion-color-light);
}
.warningA {
  --background: var(--ion-color-warning-tint);
  --color: var(--ion-color-light);
}
.dangerA {
  --background: var(--ion-color-danger-tint);
  --color: var(--ion-color-light);
}

// Font color on Form Validators
.ion-invalid.ion-touched ion-label {
  color: var(--ion-color-danger);
}

// Modals
.cart-modal {
  @extend .modal-css;
  --height: 50%;
  --border-radius: 0.625em;
  padding: 2.3125em;
}

.modal-css {
  --border: 0.25em solid var(--ion-color-primary);
  --backdrop-opacity: 80% !important;
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-tertiary);
    text-align: center;
    text-transform: capitalize;
    font-variant: small-caps;
    ion-button {
      --color: var(--ion-color-warning);
    }
  }
}
