/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// NGX-Share
@import "~ngx-sharebuttons/themes/material/material-dark-theme";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800,900&family=Open+Sans:wght@800&family=Philosopher:wght@700,800&family=Roboto&display=swap');


// Classes
a:hover {
  cursor: pointer;
}

ion-header >ion-toolbar{
  height: 85px;
  // max-height: 30vh;
}

ion-list-header {
  background: var(--ion-color-medium);
    font-family: 'Montserrat', sans-serif;
    color: var(--ion-color-secondary);
}

ion-card-header {
  background: var(--ion-color-primary);
  >ion-card-title{
    --color: white;
    font-family: 'Montserrat', sans-serif;
  }
  >ion-card-subtitle{
    color: var(--ion-color-light-shade);
  font-family: 'Philosopher', sans-serif;  }
}

ion-toolbar {
  background: var(--ion-color-primary) ;
  color: var(--ion-color-tertiary);
  text-transform: uppercase;
  ion-button {
    color: var(--ion-color-warning);
  }
}



.small-logo{
  max-height: 58px;
}

// Toasts
.successT {
  --background: var(--ion-color-success-tint);
  --border-color: var(--ion-color-success-shade);
  --border-radius: 10px;
  --border-style: solid;
  --border-width: 4px;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --color: var(--ion-color-light);
}

.warningT {
  --background: var(--ion-color-warning-tint);
  --border-color: var(--ion-color-warning-shade);
  --border-radius: 10px;
  --border-style: solid;
  --border-width: 4px;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --color: var(--ion-color-light);
}

.dangerT {
  --background: var(--ion-color-danger-tint);
  --border-color: var(--ion-color-danger-shade);
  --border-radius: 10px;
  --border-style: solid;
  --border-width: 4px;
--box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --color: var(--ion-color-light);
}

// Alerts
.successA {
  --background: var(--ion-color-success-tint);
  color: var(--ion-color-light);
}
.warningA {
  --background: var(--ion-color-warning-tint);
  color: var(--ion-color-light);
}
.dangerA {
  --background: var(--ion-color-danger-tint);
  color: var(--ion-color-light);
}



// Font color on Form Validators
.ion-invalid.ion-touched ion-label {
  color: var(--ion-color-danger);
}


// Modals
.cart-modal {
  @extend .modal-css;
  --height: 50%;
  --border-radius: 10px;
  padding: 25px;
}

.modal-css {
  --border: 4px solid var(--ion-color-primary);
  --backdrop-opacity: 80% !important;
  ion-toolbar {
    text-align: center;
    --background: var(--ion-color-primary) ;
    --color: var(--ion-color-tertiary);
    text-transform: capitalize;
    font-variant: small-caps;
    ion-button {
      color: var(--ion-color-warning);
    }
  }
}


