
  <ion-grid class="ion-no-padding">
    <ion-row
      class="scene-one ion-justify-content-around"
      style="padding-top: 14vh"
    >
      <ion-col
        size="12"
        size-md="6"
        class="ion-align-self-start ion-text-center"
      >
        <ion-row class="ion-text-center">
          <ion-col size="6" offset="3">
            <img [@bounceOutUp]="bounceOutUp" src="../../../assets/logos/logo.png" style="max-width: 450px" class="raised-z" />
            <hr />
            <!-- </ion-row>
            <ion-row class="ion-justify-content-center"> -->
            <ion-card [@pulse]="pulse" class="raised-z logo-card ion-padding">
              <ion-card-title>
                <ion-text color="warning">
                  <h3>
                     omni-fit: A holistic fitness paradigm
                  </h3>
                </ion-text>
              </ion-card-title>
            </ion-card>
            <!-- </ion-row>
            <ion-row class="ion-justify-content-center"> -->
            <ion-button
            [@flash]="flash"
              class="cta raised-z"
              color="light"
              size="large"
              routerLink="/home/checkout"
              fill="outline"
              >Learn More</ion-button
            >
            <ion-button
              [@flash]="flash"
              class="cta raised-z"
              size="large"
              color="primary"
              (click)="showModalGetStarted()"
              >View Pricing</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col
        size="12"
        size-md="6"
        class="ion-align-self-stretch ion-text-center"
      >
        <div>
          <img style="z-index: 22;" src="../../../assets/svg/btn-play.svg" />
        </div>
      </ion-col>
    </ion-row>

    <app-home-page-two></app-home-page-two>
    <!-- <ion-fab>
      <ion-fab-button (click)="topFunction()" id="myBtn" title="Go to top">Top</ion-fab-button>

    </ion-fab> -->

    <!-- Footer` -->
    <ion-row class="footer ion-justify-content-around">
      <ion-col size="12" size-sm="4">
        <ion-row>
          <ion-col>
            <ul class="bottom-menu">
              <li><h3>Menu</h3></li>
              <li
                routerLink="/home"
                routerLinkActive="active-bottom-menu"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ion-label>Home</ion-label>
              </li>
              <!-- SignedIn Menu Items -->
              <li
                *ngIf="user | async"
                routerLink="/customers/dashboard"
                routerLinkActive="active-bottom-menu"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ion-label>Dashboard</ion-label>
              </li>
              <li
                *ngIf="user | async"
                routerLink="/customers/workouts"
                routerLinkActive="active-bottom-menu"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ion-label>Workouts</ion-label>
              </li>
              <li
                *ngIf="user | async"
                routerLink="/customers/nutrition"
                routerLinkActive="active-bottom-menu"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ion-label>Nutrition</ion-label>
              </li>
              <li
                *ngIf="user | async"
                routerLink="/customers/videos"
                routerLinkActive="active-bottom-menu"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ion-label>Videos</ion-label>
              </li>
              <li
                *ngIf="user | async"
                routerLink="/customers/messages"
                routerLinkActive="active-bottom-menu"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ion-label>Messages</ion-label>
              </li>
              <li
                *ngIf="user | async"
                routerLink="/customers/settings"
                routerLinkActive="active-bottom-menu"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ion-label>Settings</ion-label>
              </li>
              <!-- Menu Options for nonusers -->
              <li
                *ngIf="!user"
                routerLink="/home/products"
                routerLinkActive="active-bottom-menu"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ion-label>Products</ion-label>
              </li>
              <li
                *ngIf="!user"
                routerLink="/home/faqs"
                routerLinkActive="active-bottom-menu"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ion-label>FAQs</ion-label>
              </li>
              <li *ngIf="!user" routerLink="/home/testimonials">
                <ion-label>Testimonials</ion-label>
              </li>
              <li
                routerLink="/home/about"
                routerLinkActive="active-bottom-menu"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ion-label>About</ion-label>
              </li>
              <li
                routerLink="/home/contact"
                routerLinkActive="active-bottom-menu"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <ion-label>Contact</ion-label>
              </li>
            </ul>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-padding">
            <img src="../../../assets/logos/logo.png" class="small-logo" />
            <br />
            <ion-text color="light">
              <small>
                &#9426;{{ yearDate | date: "yyyy" }} www.expertfitness.com
              </small>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col
        size-sm="4"
        size="12"
        push-sm="4"
        class="ion-align-self-center"
        routerLink="/home/contact"
      >
        <ion-row class="ion-justify-content-center">
          <ion-col size="8">
            <ion-card color="primary" class="ion-text-center">
              <ion-card-header color="primary">
                <ion-card-title>
                  <img
                    src="../../../assets/icons/icon-144x144.png"
                    style="max-height: 38px"
                  />
                  Expert Fitness Gym
                </ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-text style="font-weight: bold">
                  <p>3000 N. Garfield Street Suite 159</p>
                  <p>Midland TX 79705</p>
                </ion-text>
                <ion-chip color="light" href="tel://432-684-0844">
                  <ion-icon color="warning" name="call-sharp"></ion-icon>
                  <ion-label> (432) 684-0844 </ion-label>
                </ion-chip>

                <ion-chip color="light" routerLink="/home/contact">
                  <ion-icon color="warning" name="mail-sharp"></ion-icon>
                  <ion-label> Contact Us </ion-label>
                </ion-chip>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" pull-sm="4" size-sm="4">
        <ion-row>
          <ion-col>
          </ion-col>
          </ion-row>
        <ion-row class="ion-justify-content-center ion-text-center">
          <ion-col class="ion-align-self-end ion-text-center">
            <!-- <ion-buttons> -->
              <ion-button color="tertiary" (click)="showModalPrivacy()">
                Privacy
              </ion-button>
              <ion-button color="tertiary" (click)="showModalTerms()">
                Terms
              </ion-button>
              <ion-button color="tertiary" (click)="showModalAbout()">
                About App
              </ion-button>
            <!-- </ion-buttons> -->
            <hr />

            <share-buttons
              theme="material-dark"
              show="4"
              size="-3"
            ></share-buttons>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

