@media screen and (max-width: 400px) {
  .landing-quote {
    display: none;
  }
  .landing-cta-text {
    font-size: 2.55em;
  }
}
@media screen and (max-height: 500px) {
  .landing-quote {
    display: none;
  }
  .landing-cta-motto {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  .landing-quote {
    display: none;
  }
  .landing-cta-motto {
    display: none;
  }
}
.scene-one {
  text-align: center;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  // background-color: #3f0d12;
  background: linear-gradient(
      to bottom left,
      rgba(0, 0, 0, 0.45) 15%,
      rgba(71, 0, 0, 0.55) 50%,
      rgba(0, 0, 0, 0.45) 85%
    ),
    linear-gradient(
      to right,
      rgba(92, 0, 8, 0.35) 0%,
      rgba(17, 0, 2, 0.45)50%,
      rgba(83, 0, 7, 0.35) 100%
    ),
    url(../../../assets/images/fitness-balancing.jpg) center/ cover no-repeat;
}

.logo-card {
  margin: 15px 0;
  padding: 10px;
  font: 700 18px/.5 Montserrat;
  background-origin: border-box;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: x-large;
  text-transform: capitalize;
  font-variant: small-caps;
  background: linear-gradient(
    to bottom left,
    rgba(134, 131, 131, 0.86) 10%,
    rgba(77, 67, 67, 0.86) 50%,
    rgba(134, 131, 131, 0.86) 90%
    );

}


.cta {
  margin: 15px;
}

.learn-more-animate {
  animation: 2s ease-out infinite down-animation;
  z-index: 2;
  padding-top: 15px;
}

@keyframes down-animation {
  from {
    opacity: 70%;
  }
  50% {
    transform: translate(0, 40px);
    opacity: 100%;
  }
  to {
    opacity: 70%;
  }
}

.footer {
  background-color: var(--ion-color-dark);
  outline: 5px solid var(--ion-color-dark);
  li {
    color: white;
    list-style-type: none;
  }

  h2,
  h3 {
    color: var(--ion-color-tertiary);
  }
}

.bottom-menu {
  line-height: 1.5;
}

.footer-logo {
  padding: 5px;
}
